/* Contao extension :: cm_membergooglemaps :: Copyright (C) 2009-2018 Christian Münster :: LGPL license */

.memberCard {
  border: 1px #000000 solid;
  background-color: #eeeeee;
  color: #000000;
  width: 320px;
  margin:0 15px 10px 0;
  padding:5px;
  float: left;
}

.cm_country {
  width:150px;
}

.cm_max_dist {
  width:60px;
}
.memberlistmap img,
.memberdetailmap img {
  max-width: none;
}
