/*
.header_updCoords {
	background-image: url(flag_admin.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 2px 0 3px 20px;
}
*/
img.coords {
	float: right;
	padding-left: 10px;
}

div.cm_mapstylemaker div {
	float: left;
}

div.cm_mapstylemaker div div {
	width: 150px;
	float: none;
	clear: left;
}

div.cm_mapstylemaker div.square {
	float: left;
	border: 1px solid #000;
	width: 8px;
	height: 8px;
}
div.cm_mapstylemaker div.txt {
	padding-left: 5px;
	float: left;
	clear: none;
}
p.coord_picker {
	display: inline;
    /*margin: 0 0 12px; */
    overflow: hidden;
    padding: 0;
    text-indent: -1000px;
    vertical-align:-6px;
}
p.coord_picker a {
	background-image: URL(coordPicker.png);
    background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-position: top left;
    border: medium none;
    text-align: left;
    display:inline-block;
    width:20px;
    height:20px;
    margin:0;
    padding:0;
}
p.coord_picker a > span {
    display: none;    
}

#main.coordpicker #controlPanel {
	float: right;	
}
