<?php if (!defined('TL_ROOT')) die('You can not access this file directly!'); ?>

from_html = infoText +'<a href="javascript:tolocation()">'+
  '<?= $GLOBALS['TL_LANG']['MSC']['cm_map_topos'] ?></a> -' +
  '<b><?= $GLOBALS['TL_LANG']['MSC']['cm_map_frompos'] ?></b><br />'+
  '<?= $GLOBALS['TL_LANG']['MSC']['cm_map_toaddr'] ?>:'+
  '<form action="http://maps.google.com/maps" method="get" target="_blank">'+
  '<input type="text" SIZE=23 MAXLENGTH=50 name="daddr" id="daddr" value="" />&nbsp;'+
  '<INPUT value="Los" TYPE="SUBMIT" />'+
  '  <input type="hidden" name="saddr" value="' + mapposSingle.lat() + ',' + mapposSingle.lng() + '"/>'+
  '</form>';

to_html = infoText + '<b><?= $GLOBALS['TL_LANG']['MSC']['cm_map_topos'] ?><\/b> -'+
  '<a href="javascript:fromlocation()">'+
  '<?= $GLOBALS['TL_LANG']['MSC']['cm_map_frompos'] ?><\/a><br \/>' +
  '<?= $GLOBALS['TL_LANG']['MSC']['cm_map_fromaddr'] ?>:' +
  '<form action="http://maps.google.com/maps" method="get" target="_blank">' +
  '<input type="text" SIZE=23 MAXLENGTH=50 name="saddr" id="saddr" value="" />&nbsp;'+
  ' <INPUT value="Los" TYPE="SUBMIT" />'+
  ' <input type="hidden" name="daddr" value="' + mapposSingle.lat() + ',' + mapposSingle.lng() +'"/>' +
  '</form>';

infoText= infoText +
  '<a href="javascript:tolocation()"><?= $GLOBALS['TL_LANG']['MSC']['cm_map_topos'] ?>'+
  '</a> - <a href="javascript:fromlocation()"><?= $GLOBALS['TL_LANG']['MSC']['cm_map_frompos']?><\/a>';

function tolocation() {
  cm_active_info.setContent(to_html);
}
function fromlocation() {
  cm_active_info.setContent(from_html);
}