<?php
if (!$this->invalid): ?>
  <p class="cm_info_bubble">
    <?php if ($this->company) :?>
      <?= $this->company ?>
    <?php else :?>
      <?= $this->firstname; ?> <?= $this->lastname; ?>
    <?php endif;?>
   <?php if ($this->company) :?>
      <br />
      <?= $this->firstname; ?> <?= $this->lastname; ?>
   <?php endif;?>
    <br />
    <?= $this->street; ?> <?= $this->h_nr; ?>
   <br />
    <?= $this->postal; ?> <?= $this->city; ?>
  </p>
  
   <?php if ($this->linktowebsite) : ?>
     <?= $GLOBALS['TL_LANG']['MSC']['cm_website']?><a href="http://<?= $this->website; ?>" alt="" target="_blank"><?= $this->website; ?></a>
   <?php else :?>
     <?= $GLOBALS['TL_LANG']['MSC']['cm_website']?><?= $this->website; ?>
   <?php endif; ?> 
<?php if ($this->routetext): ?>
  <hr />
  <p><?= $this->routetext;?></p>
<?php endif; ?>
<?php else : ?>
  <p class="error"><?= $this->invalid; ?></p>
<?php endif; ?>