<?php 
if (count($this->raw)>3) : ?>
  <p class="cm_info_bubble">
   <?php if (!$this->linktowebsite) : ?>
    <a href="<?= $this->urldetail; ?>" alt="">
   <?php endif; ?> 
    <?php if ($this->raw["company"]) : ?>
      <?= $this->raw["company"]; ?>
    <?php else:?>
      <?= $this->raw["firstname"]; ?> <?= $this->raw["lastname"]; ?>
    <?php endif; ?>
   <?php if (!$this->linktowebsite) : ?>
    </a>
   <?php endif; ?> 
   <?php if ($this->raw["company"]) : ?>
      <br />
      <?= $this->raw["firstname"]; ?> <?= $this->raw["lastname"]; ?>
   <?php endif; ?>
    <br />
    <?= $this->raw["street"]; ?> <?= $this->raw["h_nr"]; ?>
    <br />
    <?= $this->raw["postal"]; ?> <?= $this->raw["city"]; ?>
  </p>
  
   <?php if ($this->linktowebsite) : ?>
     <?= $GLOBALS['TL_LANG']['MSC']['cm_website']; ?><a href="http://<?= $this->raw['website']; ?>" alt=""  target="_blank"><?= $this->raw["website"]; ?></a> 
   <?php else : ?>
     <?= $GLOBALS['TL_LANG']['MSC']['cm_website']; ?><?= $this->raw["website"]; ?> 
   <?php endif; ?> 
  <hr />
  <p><?= $this->groups; ?></p>
<?php if ($this->routetext): ?>
  <hr />
  <p><?= $this->routetext;?></p>
<?php endif; ?>

<?php elseif ($this->invalid) : ?>
  <p class="error"><?= $this->invalid; ?></p>
<?php else : ?>
  <p><?= $this->noPublicInfo; ?></p>
<?php endif; ?>