<div class="all_records" >
<?php foreach ($this->tbody as $class=>$row): ?>
<div class="<?= $class; ?> memberCard">

  <?php foreach ($row as $col): ?>
  <?php if (($col['field'] == 'username') && !$this->cm_memberlist_hidedetaillink ): ?>
      <p class="body <?= $col['class']; ?>"><a href="<?= $col['url']; ?>"><?= $col['content']; ?></a></p>

  <?php elseif (($col['field'] == 'website') && $this->cm_memberlist_hidedetaillink ): ?>
      <p class="body <?= $col['class']; ?>">
      <a href="http://<?= $col['content']; ?>" alt="<?= $col['content']; ?>" target="_blank"><?= $col['content']; ?></a></p>

  <?php else: ?>
      <p class="body <?= $col['class']; ?>"><?= $col['content']; ?></p>
  <?php endif; ?>
  <?php endforeach; ?>

  <?php if ($this->listdistance) : ?>
      <p class="body <?= $col['class']; ?>"><?= $col['dist']; ?></p>
  <?php endif; ?>
  <?php if (!$this->cm_memberlist_hidedetaillink) : ?>
    <p class="body <?= $this->col_last; ?> col_last"><a href="<?= $col['url']; ?>"><img src="system/modules/memberlist/assets/details.gif" alt="" /></a></p>
  <?php endif; ?>
  <?php if ($this->cm_map_routetotable) : ?>
    <p class="body <?= $this->col_last; ?> col_last">    
    <?php printf($this->routeToTextPattern, $row[0]['raw']['cm_googlemaps_coords']) ?></p>
  <?php endif; ?>   

</div>
<?php endforeach; ?>

</div>
