<div class="<?= $this->class; ?> listing block"<?= $this->cssID; ?><?php if ($this->style): ?> style="<?= $this->style; ?>"<?php endif; ?>>
<?php if ($this->headline): ?>

<<?= $this->hl; ?>><?= $this->headline; ?></<?= $this->hl; ?>>
<?php endif; ?>
<h2><?= $this->publicProfile; ?></h2>
<?php if ($this->GoogleMapCode) :?>
	<?php
		if($_COOKIE['cm_googlemaps'] || !$this->acceptanceRequired):
		$GLOBALS['TL_JAVASCRIPT'][] = $this->BaseScriptCode;
		$this->acceptanceText='';
		endif;
	?>  
<?php endif; ?>	
<?php if ($this->GoogleMapCode && ($this->mappos=='above')) :?>
  <div style="<?= $this->mapstyle; ?>" class="memberdetailmap" id="<?= $this->mapID; ?>">
	<?php if($_COOKIE['cm_googlemaps'] || !$this->acceptanceRequired): ?>
	<noscript><p><?= ($this->map['staticMapNoscript'] ? $this->map['staticMap'] : $this->labels['noscript']); ?></p></noscript>
	<?php else: ?><div id="confirm-googlemaps" onClick="<?= $this->mapID; ?>_allowGoogleMaps()"><?=  $this->acceptanceText; ?></div><?php endif; ?>
  </div>  
<?php endif; ?>

<?php if (count($this->record)): ?>

<table cellpadding="0" cellspacing="0" class="single_record" summary="">
<tbody>
<?php foreach ($this->record as $col): ?>
  <tr class="<?= $col['class']; ?>">
    <td class="label"><?= $col['label']; ?></td>
    <td class="value"><?= $col['content']; ?></td>
  </tr>
<?php endforeach; ?>
<tr> 
    <td class="label">Gruppen</td>

    <td class="value"><?= $col['groups']; 
   ?></td>
</tr>

</tbody>
</table>
<?php elseif ($this->invalid): ?>

<p class="error"><?= $this->invalid; ?></p>
<?php else: ?>

<p><?= $this->noPublicInfo; ?></p>
<?php endif; ?>

<h2><?= $this->sendEmail; ?></h2>
<?php if ($this->confirm): ?>

<p class="confirm"><?= $this->confirm; ?></p>
<?php elseif ($this->allowEmail == 3): ?>

<form action="<?= $this->action; ?>" method="post">
<div class="formbody email_form">
<input type="hidden" name="FORM_SUBMIT" value="tl_send_email" />
<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}" />
<div class="widget">
  <?= $this->widget->generateLabel(); ?><span class="mandatory"></span>
  <?= $this->widget->generateWithError(); ?><br />
  <?php if ($this->namewidget) : ?>
    <?= $this->namewidget->generateLabel(); ?><span class="mandatory"></span>
    <?= $this->namewidget->generateWithError(); ?><br />
  <?php endif; ?>

  <?= $this->emailwidget->generateLabel(); ?><span class="mandatory"></span>
  <?= $this->emailwidget->generateWithError(); ?><br />

  <?= $this->captchawidget->generateLabel(); ?><span class="mandatory"></span>
  <?= $this->captchawidget->generateWithError(); ?>
  <label for="ctrl_captcha"><?= $this->captchawidget->generateQuestion(); ?><span class="mandatory"></span></label>
</div>
<div class="submit_container">
  <input type="submit" value="<?= $this->submit; ?>" class="submit" />
</div>
</div>
</form>
<?php elseif ($this->allowEmail == 2): ?>

<p><?= $this->loginToSend; ?></p>
<?php else: ?>

<p><?= $this->emailDisabled; ?></p>
<?php endif; ?>
<?php if ($this->GoogleMapCode) :?>
  <?php if ($this->mappos=='below') :?>
    <div style="<?= $this->mapstyle; ?>" class="memberdetailmap" id="<?= $this->mapID; ?>">
	<?php if($_COOKIE['cm_googlemaps']  || !$this->acceptanceRequired): ?>
	<noscript><p><?= ($this->map['staticMapNoscript'] ? $this->map['staticMap'] : $this->labels['noscript']); ?></p></noscript>
	<?php else: ?><div id="confirm-googlemaps" onClick="<?= $this->mapID; ?>_allowGoogleMaps()"><?= $this->acceptanceText; ?></div><?php endif; ?>  
  </div>
  <?php endif; ?>
<?php endif; ?>
<hr>
<?php if ($this->details): ?>
  <?= $this->details ?>
<?php endif; ?>
<?php if ($this->GoogleMapCode) : ?>
   <script type="text/javascript">
/*<![CDATA[ */
 function <?= $this->mapID; ?>_allowGoogleMaps() {
    document.cookie = 'cm_googlemaps=ok; max-age=<?= $GLOBALS['TL_CONFIG']['cm_googlemaps']['cookiedays']; ?> ; path=/';
   
    var mapsSrc = document.createElement('script');
    mapsSrc.type = 'text/javascript';
    mapsSrc.src = '<?= $this->BaseScriptCode; ?>';
    document.getElementsByTagName('head')[0].appendChild(mapsSrc);
    window.setTimeout("<?= $this->mapID; ?>_initialize()", 500);
 }  
   <?= $this->GoogleMapCode;?>
 /* ]]> */
 </script>
<?php endif; ?>
<!-- indexer::stop -->
<p class="back"><a href="<?= $this->referer; ?>" title="<?= $this->back; ?>"><?= $this->back; ?></a></p>
<!-- indexer::continue -->
</div>
