
<div class="<?= $this->class; ?> listing block"<?= $this->cssID; ?><?php if ($this->style): ?> style="<?= $this->style; ?>"<?php endif; ?>>
<?php if ($this->headline): ?>

<<?= $this->hl; ?>><?= $this->headline; ?></<?= $this->hl; ?>>
<?php endif; ?>

<?php if ($this->GoogleMapCode) :?>
<?php if($_COOKIE['cm_googlemaps'] || !$this->acceptanceRequired):
$GLOBALS['TL_JAVASCRIPT'][] = $this->BaseScriptCode;
$this->acceptanceText = '';
endif;
?>  
<div class="memberposmap block" id="<?= $this->mapID; ?>" style="<?= $this->mapstyle; ?>" >
	<?php if($_COOKIE['cm_googlemaps'] || !$this->acceptanceRequired): ?>
	<noscript><p><?= ($this->map['staticMapNoscript'] ? $this->map['staticMap'] : $this->labels['noscript']); ?></p></noscript>
	<?php else: ?><div id="confirm-googlemaps" onClick="<?= $this->mapID; ?>_allowGoogleMaps()"><?= $this->acceptanceText; ?></div><?php endif; ?>
</div>  
  <script type="text/javascript">
/*<![CDATA[ */
 function <?= $this->mapID; ?>_allowGoogleMaps() {
    document.cookie = 'cm_googlemaps=ok; max-age=<?= $GLOBALS['TL_CONFIG']['cm_googlemaps']['cookiedays']; ?> ; path=/';
   
    var mapsSrc = document.createElement('script');
    mapsSrc.type = 'text/javascript';
    mapsSrc.src = '<?= $this->BaseScriptCode; ?>';
    document.getElementsByTagName('head')[0].appendChild(mapsSrc);
    window.setTimeout("<?= $this->mapID; ?>_initialize()", 500);
}  
  <?= $this->GoogleMapCode; ?>
/* ]]> */
</script>
<?php endif; ?>

</div>
