<div class="<?= $this->class; ?> ce_table listing block"<?= $this->cssID; ?><?php if ($this->style): ?> style="<?= $this->style; ?>"<?php endif; ?>>
<?php if ($this->headline): ?>
<<?= $this->hl; ?>><?= $this->headline; ?></<?= $this->hl; ?>>
<?php endif; ?>
<!-- indexer::stop -->
<?php if ($this->notFound && $this->textOnEmpty) : ?>
<div class="notfound"><?= $this->textOnEmpty?></div>
<?php endif; ?>	
<!-- indexer::continue -->
<?php if ($this->GoogleMapCode) :?>
	<?php
		if($_COOKIE['cm_googlemaps'] || !$this->acceptanceRequired):
		$GLOBALS['TL_JAVASCRIPT'][] = $this->BaseScriptCode;
		$this->acceptanceText = '';
		endif;
	?>  
<?php endif; ?>	
<?php if ($this->GoogleMapCode && ($this->mappos=='above')) :?>
  <div style="<?= $this->mapstyle; ?>" class="memberlistmap above" id="<?= $this->mapID; ?>">
	<?php if($_COOKIE['cm_googlemaps'] || !$this->acceptanceRequired): ?>
	<noscript><p><?= $this->noscripttmsg; ?></p></noscript>
	<?php else: ?><div id="confirm-googlemaps" onClick="<?= $this->mapID; ?>_allowGoogleMaps()"><?= $this->acceptanceText; ?></div><?php endif; ?>
  </div>  
  <div class="map cluster tooltipp" >Tooltipp-Text</div>
<?php endif; ?>
<!-- indexer::stop -->
<?php if ($this->allInOne): ?>
<div class="list_search">
<form action="<?= $this->action; ?>" method="get">
  <?php if ($this->filterform): ?>
  <div class="mgroupfilter">
    <?= $this->filter_fields; ?>
  </div>
  <?php endif; ?>
  <div class="formbody">
    <input type="hidden" name="order_by" value="<?= $this->order_by; ?>" />
    <input type="hidden" name="sort" value="<?= $this->sort; ?>" />
    <input type="hidden" name="per_page" value="<?= $this->per_page; ?>" />

<?php if ($this->fieldsearch && !$this->multifieldsearch): ?>
    <label for="ctrl_search" class="notinvisible"><?= $this->fields_label; ?></label>
    <select name="search" id="ctrl_search" class="select">
      <?= $this->search_fields; ?>
    </select>
<?php endif; ?>

<?php if ($this->fieldsearch || $this->multifieldsearch): ?>
    <label for="ctrl_for" class="notinvisible"><?= $this->keywords_label; ?></label>
<input type="text" name="for" id="ctrl_for" class="text" value="<?= $this->for; ?>" />
<?php endif; ?>

<?php if ($this->plzsearch) : ?>
  <p class="search_by plzsearch"><?= $this->plz_search; ?></p>
  <label for="ctrl_plzarea" class="notinvisible"><?= $this->plzarea_label; ?></label>
  <input type="text" name="plzarea" id="ctrl_plzarea" class="text" value="<?= $this->plzarea; ?>" />
 <?php endif; ?>

<?php if ($this->fieldsearch || $this->multifieldsearch || $this->plzsearch): ?>
    <input type="submit" class="submit" value="<?= $this->search_label; ?>" />
<?php endif; ?>
  </div>
  
  <?php if ($this->radiusform) : ?>
  <p><?= $this->radius_search; ?></p>
  <div class="formbody">
    <label for="cm_location"><?= $this->lbl_location; ?></label>
    <input type="text" name="cm_location" class="cm_location" value="<?= $this->visitorlocation ?>" />
    
    <label for="cm_country"><?= $this->lbl_country; ?></label>
	<?= $this->visitorcountry; ?>

    <?php if ($this->distanceform) : ?>
    <br />
    <?php if ($this->distanceasdropdown) : ?>
    <label for="cm_max_dist"><?= $this->lbl_max_dist_drdn; ?></label>
    <select name="cm_max_dist" id="cm_max_dist_drdn" class="cm_max_dist_select">
      <?= $this->distvalues; ?>
    </select>
     <?php else : ?>
    <label for="cm_max_dist"><?= $this->lbl_max_dist; ?></label>
 
   <input type="text" name="cm_max_dist" class="cm_max_dist" value="<?= $this->max_dist; ?>" />
    <?php endif ?>
    <span class="distitem"><?= $this->cm_distitem; ?></span>
    <?php endif; ?>
    <?php if ($this->cm_gc_acceptance_required) : ?>
    <div class="checkbox_container">
	    <input type="checkbox" name="cm_gc_privacy" class="cm_gc_privacy" value="accepted" />
    	<label for="cm_gc_privacy"><?= $this->lbl_cm_gc_privacy; ?></label>
  </div>
    <?php if ($this->show_gc_privacyError) : ?>
    	<div class="error"><?= $this->gc_privacyError ?></div>
  <?php endif; ?>
<?php endif; ?>
    <input type="submit" class="submit" value="<?= $this->distsearch_label; ?>" />
  </div>
  <?php endif; ?>
</form>
<!-- // Debug:<?= $this->Error; ?>// -->
</div>
<?php endif; ?>

<?php if ($this->per_page): ?>

<div class="list_per_page">
  <form action="<?= $this->action; ?>" method="get">
    <div class="formbody">
      <input type="hidden" name="order_by" value="<?= $this->order_by; ?>" />
      <input type="hidden" name="sort" value="<?= $this->sort; ?>" />
      <input type="hidden" name="search" value="<?= $this->search; ?>" />
      <input type="hidden" name="for" value="<?= $this->for; ?>" />
<label for="ctrl_per_page" class="invisible"><?= $this->per_page_label; ?></label>
<select name="per_page" id="ctrl_per_page" class="select">
        <option value="10"<?php if ($this->per_page == 10): ?> selected="selected"<?php endif; ?>>10</option>
        <option value="20"<?php if ($this->per_page == 20): ?> selected="selected"<?php endif; ?>>20</option>
        <option value="30"<?php if ($this->per_page == 30): ?> selected="selected"<?php endif; ?>>30</option>
        <option value="50"<?php if ($this->per_page == 50): ?> selected="selected"<?php endif; ?>>50</option>
        <option value="100"<?php if ($this->per_page == 100): ?> selected="selected"<?php endif; ?>>100</option>
        <option value="250"<?php if ($this->per_page == 250): ?> selected="selected"<?php endif; ?>>250</option>
        <option value="500"<?php if ($this->per_page == 500): ?> selected="selected"<?php endif; ?>>500</option>
      </select>
      <input type="submit" class="submit" value="<?= $this->per_page_label; ?>" />
    </div>
  </form>
</div>
<?php endif; ?>
<!-- indexer::continue -->
<?php if ($this->showtable) : ?>
<div id ="memberlist" class="memberlist">
  <?= $this->listElements; ?>
</div>
<?php endif; ?>
<!-- indexer::stop -->
<?= $this->pagination; ?>

<?php if ($this->GoogleMapCode) :?>
  <?php if ($this->mappos=='below') :?>
    <div style="<?= $this->mapstyle; ?>" class="memberlistmap below" id="<?= $this->mapID; ?>">
		<?php if($_COOKIE['cm_googlemaps'] || !$this->acceptanceRequired): ?>
		<noscript><p><?= ($this->map['staticMapNoscript'] ? $this->map['staticMap'] : $this->labels['noscript']); ?></p></noscript>
		<?php else: ?><div id="confirm-googlemaps" onClick="<?= $this->mapID; ?>_allowGoogleMaps()"><?= $this->acceptanceText; ?></div><?php endif; ?>
	</div>  
	<div class="map cluster tooltipp" >Tooltipp-Text</div>
  <?php endif; ?>
 <script type="text/javascript">
 /*<![CDATA[ */
 function <?= $this->mapID; ?>_allowGoogleMaps() {
    document.cookie = 'cm_googlemaps=ok; max-age=<?= $GLOBALS['TL_CONFIG']['cm_googlemaps']['cookiedays']; ?> ; path=/';
   
    var mapsSrc = document.createElement('script');
    mapsSrc.type = 'text/javascript';
    mapsSrc.src = '<?= $this->BaseScriptCode; ?>';
    document.getElementsByTagName('head')[0].appendChild(mapsSrc);
    window.setTimeout("<?= $this->mapID; ?>_initialize()", 500);
 }  
  <?= $this->GoogleMapCode;?>
/* ]]> */
 </script>
<?php endif; ?>
<!-- indexer::continue -->
</div>