<div class="all_records" >
<?php foreach ($this->tbody as $class=>$row): ?>
<div class="<?= $class; ?> memberCard">

  <?php foreach ($row as $col): ?>
  <?php if ($col['field'] == 'username'): ?>
      <p class="body <?= $col['class']; ?>"><a href="<?= $this->url; ?>?show=<?= $col['id']; ?>"><?= $col['content']; ?></a></p>
  <?php else: ?>
      <p class="body <?= $col['class']; ?>"><?= $col['content']; ?></p>
  <?php endif; ?>
  <?php endforeach; ?>

  <?php if ($this->listdistance) : ?>
      <p class="body <?= $col['class']; ?>"><?= $col['dist']; ?></p>
  <?php endif; ?>
  <p class="body <?= $this->col_last; ?> col_last"><a href="<?= $this->url; ?>?show=<?= $col['id']; ?>"><img src="system/modules/memberlist/html/details.gif" alt="" /></a></p>
</div>
<?php endforeach; ?>

</div>
