<table cellpadding="0" cellspacing="0" class="all_records" summary="">
<thead>
  <tr>
<?php foreach ($this->thead as $col): ?>
    <th class="head <?= $col['class']; ?>"><a href="<?= $col['href']; ?>" title="<?= $col['title']; ?>"><?= $col['link']; ?></a></th>
<?php endforeach; ?>
<?php if (false) :  // true: show groupnames in the table ?>    
    <th class="head">Gruppen</th>
<?php endif; ?>   
  <?php if (!$this->cm_memberlist_hidedetaillink) : ?>
    <th class="head <?= $this->col_last; ?> col_last">&nbsp;</th>
  <?php endif; ?>   
  <?php if ($this->cm_map_routetotable) : ?>  
   <th class="head <?= $this->col_last; ?> col_last">&nbsp;</th>
  <?php endif; ?> 
  </tr>
</thead>
<tbody>
<?php foreach ($this->tbody as $class=>$row): ?>
  <tr class="<?= $class; ?>">
<?php foreach ($row as $col): ?>
  <?php if (($col['field'] == 'username') && !$this->cm_memberlist_hidedetaillink ): ?>
    <td class="body <?= $col['class']; ?>"><a href="<?= $col['url']; ?>"><?= $col['content']; ?></a></td>
  <?php elseif (($col['field'] == 'website') && $this->cm_memberlist_hidedetaillink ): ?>
    <td class="body <?= $col['class']; ?>">
      <a href="http://<?= $col['content']; ?>" alt="<?= $col['content']; ?>" target="_blank"><?= $col['content']; ?></a></td>
  <?php else: ?>
    <td class="body <?= $col['class']; ?>"><?= $col['content']; ?></td>
<?php endif; ?>
<?php endforeach; ?>
<?php if (false) :  // true: show groupnames in the table ?>    
    <td class="body">
      <?= $row[0]['groups']; ?></td>
<?php endif; ?>   
<?php if (!$this->cm_memberlist_hidedetaillink) : ?>
    <td class="body <?= $this->col_last; ?> col_last"><a href="<?= $col['url']; ?>"><img src="system/modules/cm_membergooglemaps/assets/details.gif" alt="" /></a></td>
<?php endif; ?>   
<?php if ($this->cm_map_routetotable) : ?>
    <td class="body <?= $this->col_last; ?> col_last">    
    <?php printf($this->routeToTextPattern, $row[0]['raw']['cm_googlemaps_coords']) ?></td>
<?php endif; ?>   
  </tr>
<?php endforeach; ?>
</tbody>
</table>

